@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap') ; /* Super Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap') ; /* Super Modern Browsers */
}